In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df1 = pd.read_csv('data/features.csv')

In [3]:
df1

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [173]:
df2 = pd.read_csv('data/target.csv')

In [174]:
df2

          id    status_group
0      69572      functional
1       8776      functional
2      34310      functional
3      67743  non functional
4      19728      functional
...      ...             ...
59395  60739      functional
59396  27263      functional
59397  37057      functional
59398  31282      functional
59399  26348      functional

[59400 rows x 2 columns]

#### It seems both the data sets have a common column id, so we can merge these two datssets on the column id, but to reverify we will assign the id as the index

In [175]:
df1.set_index('id',inplace = True)

In [176]:
df2.set_index('id',inplace = True)

#### now we can merge the two data sets into one

In [177]:
df = pd.merge(df1,df2, how="inner",left_index=True,right_index=True)

In [178]:
df

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,Pangani,Kiduruni,Kilimanjaro,3,5,Hai,Masama Magharibi,125,True,GeoData Consultants Ltd,Water Board,Losaa Kia water supply,True,1999,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,Rufiji,Igumbilo,Iringa,11,4,Njombe,Ikondo,56,True,GeoData Consultants Ltd,VWC,Ikondo electrical water sch,True,1996,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional
37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,Rufiji,Madungulu,Mbeya,12,7,Mbarali,Chimala,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,swn 80,swn 80,handpump,vwc,user-group,pay monthly,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional
31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,Rufiji,Mwinyi,Dodoma,1,4,Chamwino,Mvumi Makulu,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump,functional
26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,Wami / Ruvu,Kikatanyemba,Morogoro,5,2,Morogoro Rural,Ngerengere,150,True,GeoData Consultants Ltd,VWC,NaN,True,2002,nira/tanira,nira/tanira,handpump,vwc,user-group,pay when scheme fails,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional

#### setting the new index

In [179]:
df.reset_index(inplace=True)

In [180]:
df

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,Pangani,Kiduruni,Kilimanjaro,3,5,Hai,Masama Magharibi,125,True,GeoData Consultants Ltd,Water Board,Losaa Kia water supply,True,1999,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,Rufiji,Igumbilo,Iringa,11,4,Njombe,Ikondo,56,True,GeoData Consultants Ltd,VWC,Ikondo electrical water sch,True,1996,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional
59397,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,Rufiji,Madungulu,Mbeya,12,7,Mbarali,Chimala,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,swn 80,swn 80,handpump,vwc,user-group,pay monthly,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional
59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,Rufiji,Mwinyi,Dodoma,1,4,Chamwino,Mvumi Makulu,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump,functional
59399,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,Wami / Ruvu,Kikatanyemba,Morogoro,5,2,Morogoro Rural,Ngerengere,150,True,GeoData Consultants Ltd,VWC,NaN,True,2002,nira/tanira,nira/tanira,handpump,vwc,user-group,pay when scheme fails,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  status_group           59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 18.6+ MB

In [183]:
df['scheme_name'].unique()

array(['Roman', nan, 'Nyumba ya mungu pipe scheme', ..., 'BL Nsherehehe',
       'Magati  gravity spri', 'Mtawanya'], dtype=object)

In [184]:
df['scheme_management'].value_counts()

VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [185]:
df.isnull().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [186]:
df['status_group'].unique()

array(['functional', 'non functional', 'functional needs repair'],
      dtype=object)

#### in this project we are considered with two parameters, whether the status_group is functional or non functional, so we will remove all rows where value is 'functional needs repairs'

In [187]:
df = df.loc[df['status_group']!='functional needs repair']

In [188]:
df['status_group'].unique()

array(['functional', 'non functional'], dtype=object)

In [189]:
df.isnull().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3198
gps_height                   0
installer                 3215
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 370
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3178
recorded_by                  0
scheme_management         3654
scheme_name              26162
permit                    2756
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [190]:
df.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,55083.000000,55083.000000,55083.000000,55083.000000,5.508300e+04,55083.000000,55083.000000,55083.000000,55083.000000,55083.000000
mean,37112.300020,321.614379,671.486230,34.299640,-5.748624e+00,0.487192,15.285515,5.697983,180.286785,1311.016920
std,21462.114645,3065.794824,696.404821,6.142341,2.929462e+00,12.637230,17.681036,9.742878,474.365391,948.342454
min,0.000000,0.000000,-90.000000,0.000000,-1.158630e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18502.000000,0.000000,0.000000,33.176482,-8.566286e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37051.000000,0.000000,368.000000,34.963928,-5.100971e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55651.500000,20.000000,1325.000000,37.206957,-3.332487e+00,0.000000,17.000000,5.000000,210.000000,2004.000000
max,74247.000000,350000.000000,2628.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

### Observing the dataset we can see that, there are some columns with a lot of similarity to each other. Its, better to choose, a column that better performs among the similar columns.

###### extraction_type, extraction_type_group, extraction_type_class, have similar types of values. Its better to keep only the column that works better on details. Lets check the grouping of these features.

In [192]:
df['extraction_type'].value_counts()

gravity                      24079
nira/tanira                   7513
other                         6224
submersible                   4537
swn 80                        3458
mono                          2736
india mark ii                 2321
afridev                       1728
ksb                           1389
other - rope pump              434
other - swn 81                 222
windmill                       110
india mark iii                  97
other - play pump               84
cemo                            81
walimi                          36
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64

In [193]:
df['extraction_type_group'].value_counts()

gravity            24079
nira/tanira         7513
other               6224
submersible         5926
swn 80              3458
mono                2736
india mark ii       2321
afridev             1728
rope pump            434
other handpump       344
other motorpump      113
wind-powered         110
india mark iii        97
Name: extraction_type_group, dtype: int64

In [194]:
df['extraction_type_class'].value_counts()

gravity         24079
handpump        15461
other            6224
submersible      5926
motorpump        2849
rope pump         434
wind-powered      110
Name: extraction_type_class, dtype: int64

In [195]:
df.groupby(['extraction_type_class','extraction_type_group','extraction_type']).count()

                                                                          id  \
extraction_type_class extraction_type_group extraction_type
gravity               gravity               gravity                    24079
handpump              afridev               afridev                     1728
                      india mark ii         india mark ii               2321
                      india mark iii        india mark iii                97
                      nira/tanira           nira/tanira                 7513
                      other handpump        other - mkulima/shinyanga      2
                                            other - play pump             84
                                            other - swn 81               222
                                            walimi                        36
                      swn 80                swn 80                      3458
motorpump             mono                  mono                        2736
                      other motorpump       cemo                          81
                                            climax                        32
other                 other                 other                       6224
rope pump             rope pump             other - rope pump            434
submersible           submersible           ksb                         1389
                                            submersible                 4537
wind-powered          wind-powered          windmill                     110

                                                                       amount_tsh  \
extraction_type_class extraction_type_group extraction_type
gravity               gravity               gravity                         24079
handpump              afridev               afridev                          1728
                      india mark ii         india mark ii                    2321
                      india mark iii        india mark iii                     97
                      nira/tanira           nira/tanira                      7513
                      other handpump        other - mkulima/shinyanga           2
                                            other - play pump                  84
                                            other - swn 81                    222
                                            walimi                             36
                      swn 80                swn 80                           3458
motorpump             mono                  mono                             2736
                      other motorpump       cemo                               81
                                            climax                             32
other                 other                 other                            6224
rope pump             rope pump             other - rope pump                 434
submersible           submersible           ksb                              1389
                                            submersible                      4537
wind-powered          wind-powered          windmill                          110

                                                                       date_recorded  \
extraction_type_class extraction_type_group extraction_type
gravity               gravity               gravity                            24079
handpump              afridev               afridev                             1728
                      india mark ii         india mark ii                       2321
                      india mark iii        india mark iii                        97
                      nira/tanira           nira/tanira                         7513
                      other handpump        other - mkulima/shinyanga              2
                                            other - play pump                     84
                                            other - swn 81                       222
                                            walimi                                36
                      swn 80                swn 80                              3458
motorpump             mono                  mono                                2736
                      other motorpump       cemo                                  81
                                            climax                                32
other                 other                 other                               6224
rope pump             rope pump             other - rope pump                    434
submersible           submersible           ksb                                 1389
                                            submersible                         4537
wind-powered          wind-powered          windmill                             110

                                                                       funder  \
extraction_type_class extraction_type_group extraction_type
gravity               gravity               gravity                     22321
handpump              afridev               afridev                      1637
                      india mark ii         india mark ii                2281
                      india mark iii        india mark iii                 97
                      nira/tanira           nira/tanira                  7275
                      other handpump        other - mkulima/shinyanga       1
                                            other - play pump              84
                                            other - swn 81                213
                                            walimi                         36
                      swn 80                swn 80                       3395
motorpump             mono                  mono                         2461
                      other motorpump       cemo                           81
                                            climax                         32
other                 other                 other                        5831
rope pump             rope pump             other - rope pump             431
submersible           submersible           ksb                          1385
                                            submersible                  4219
wind-powered          wind-powered          windmill                      105

                                                                       gps_height  \
extraction_type_class extraction_type_group extraction_type
gravity               gravity               gravity                         24079
handpump              afridev               afridev                          1728
                      india mark ii         india mark ii                    2321
                      india mark iii        india mark iii                     97
                      nira/tanira           nira/tanira                      7513
                      other handpump        other - mkulima/shinyanga           2
                                            other - play pump                  84
                                            other - swn 81                    222
                                            walimi                             36
                      swn 80                swn 80                           3458
motorpump             mono                  mono                             2736
                      other motorpump       cemo                               81
                                            climax                             32
other                 other                 other                            6224
rope pump             rope pump             other - rope pump                 434
submersible           submersible           ksb                              1389
                                            submersible                      4537
wind-powered          wind-powered          windmill                          110

                                                                       installer  \
extraction_type_class extraction_type_group extraction_type
gravity               gravity               gravity                        22332
handpump              afridev               afridev                         1634
                      india mark ii         india mark ii                   2281
                      india mark iii        india mark iii                    97
                      nira/tanira           nira/tanira                     7263
                      other handpump        other - mkulima/shinyanga          2
                                            other - play pump                 84
                                            other - swn 81                   213
                                            walimi                            36
                      swn 80                swn 80                          3392
motorpump             mono                  mono                            2462
                      other motorpump       cemo                              81
                                            climax                            32
other                 other                 other                           5823
rope pump             rope pump             other - rope pump                431
submersible           submersible           ksb                             1384
                                            submersible                     4216
wind-powered          wind-powered          windmill                         105

                                                                       longitude  \
extraction_type_class extraction_type_group extraction_type
gravity               gravity               gravity                        24079
handpump              afridev               afridev                         1728
                      india mark ii         india mark ii                   2321
                      india mark iii        india mark iii                    97
                      nira/tanira           nira/tanira                     7513
                      other handpump        other - mkulima/shinyanga          2
                                            other - play pump                 84
                                            other - swn 81                   222
                                            walimi                            36
                      swn 80                swn 80                          3458
motorpump             mono                  mono                            2736
                      other motorpump       cemo                              81
                                            climax                            32
other                 other                 other                           6224
rope pump             rope pump             other - rope pump                434
submersible           submersible           ksb                             1389
                                            submersible                     4537
wind-powered          wind-powered          windmill                         110

                                                                       latitude  \
extraction_type_class extraction_type_group extraction_type
gravity               gravity               gravity                       24079
handpump              afridev               afridev                        1728
                      india mark ii         india mark ii                  2321
                      india mark iii        india mark iii                   97
                      nira/tanira           nira/tanira                    7513
                      other handpump        other - mkulima/shinyanga         2
                                            other - play pump                84
                                            other - swn 81                  222
                                            walimi                           36
                      swn 80                swn 80                         3458
motorpump             mono                  mono                           2736
                      other motorpump       cemo                             81
                                            climax                           32
other                 other                 other                          6224
rope pump             rope pump             other - rope pump               434
submersible           submersible           ksb                            1389
                                            submersible                    4537
wind-powered          wind-powered          windmill                        110

                                                                       wpt_name  \
extraction_type_class extraction_type_group extraction_type
gravity               gravity               gravity                       24079
handpump              afridev               afridev                        1728
                      india mark ii         india mark ii                  2321
                      india mark iii        india mark iii                   97
                      nira/tanira           nira/tanira                    7513
                      other handpump        other - mkulima/shinyanga         2
                                            other - play pump                84
                                            other - swn 81                  222
                                            walimi                           36
                      swn 80                swn 80                         3458
motorpump             mono                  mono                           2736
                      other motorpump       cemo                             81
                                            climax                           32
other                 other                 other                          6224
rope pump             rope pump             other - rope pump               434
submersible           submersible           ksb                            1389
                                            submersible                    4537
wind-powered          wind-powered          windmill                        110

                                                                       num_private  \
extraction_type_class extraction_type_group extraction_type
gravity               gravity               gravity                          24079
handpump              afridev               afridev                           1728
                      india mark ii         india mark ii                     2321
                      india mark iii        india mark iii                      97
                      nira/tanira           nira/tanira                       7513
                      other handpump        other - mkulima/shinyanga            2
                                            other - play pump                   84
                                            other - swn 81                     222
                                            walimi                              36
                      swn 80                swn 80                            3458
motorpump             mono                  mono                              2736
                      other motorpump       cemo                                81
                                            climax                              32
other                 other                 other                             6224
rope pump             rope pump             other - rope pump                  434
submersible           submersible           ksb                               1389
                                            submersible                       4537
wind-powered          wind-powered          windmill                           110

                                                                       basin  \
extraction_type_class extraction_type_group extraction_type
gravity               gravity               gravity                    24079
handpump              afridev               afridev                     1728
                      india mark ii         india mark ii               2321
                      india mark iii        india mark iii                97
                      nira/tanira           nira/tanira                 7513
                      other handpump        other - mkulima/shinyanga      2
                                            other - play pump             84
                                            other - swn 81               222
                                            walimi                        36
                      swn 80                swn 80                      3458
motorpump             mono                  mono                        2736
                      other motorpump       cemo                          81
                                            climax                        32
other                 other                 other                       6224
rope pump             rope pump             other - rope pump            434
submersible           submersible           ksb                         1389
                                            submersible                 4537
wind-powered          wind-powered          windmill                     110

                                                                       subvillage  \
extraction_type_class extraction_type_group extraction_type
gravity               gravity               gravity                         23945
handpump              afridev               afridev                          1728
                      india mark ii         india mark ii                    2321
                      india mark iii        india mark iii                     97
                      nira/tanira           nira/tanira                      7510
                      other handpump        other - mkulima/shinyanga           2
                                            other - play pump                  84
                                            other - swn 81                    222
                                            walimi                             36
                      swn 80                swn 80                           3458
motorpump             mono                  mono                             2619
                      other motorpump       cemo                               81
                                            climax                             32
other                 other                 other                            6216
rope pump             rope pump             other - rope pump                 434
submersible           submersible           ksb                              1389
                                            submersible                      4429
wind-powered          wind-powered          windmill                          110

                                                                       region  \
extraction_type_class extraction_type_group extraction_type
gravity               gravity               gravity                     24079
handpump              afridev               afridev                      1728
                      india mark ii         india mark ii                2321
                      india mark iii        india mark iii                 97
                      nira/tanira           nira/tanira                  7513
                      other handpump        other - mkulima/shinyanga       2
                                            other - play pump              84
                                            other - swn 81                222

#### It can be clearly seen, these three features have pretty common values, so its better to keep one of them, in order to simplify the dataset. extration_type is more detailed, so we can keep that and drop extraction_type_class and extraction_type_group

#### scheme_management, scheme_name,management, management_group seem to have some coorelation. lets check!

In [196]:
df['scheme_management'].value_counts()

VWC                 34459
WUG                  4534
Water authority      2705
WUA                  2644
Water Board          2637
Parastatal           1478
Private operator     1040
Company              1024
Other                 744
SWC                    96
Trust                  67
None                    1
Name: scheme_management, dtype: int64

In [197]:
df['management'].value_counts()

vwc                 37716
wug                  5870
water board          2668
wua                  2330
private operator     1927
parastatal           1557
water authority       852
other                 789
company               670
unknown               534
other - school         98
trust                  72
Name: management, dtype: int64

In [198]:
df['management_group'].value_counts()

user-group    48584
commercial     3521
parastatal     1557
other           887
unknown         534
Name: management_group, dtype: int64

In [199]:
df.isnull().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3198
gps_height                   0
installer                 3215
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 370
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3178
recorded_by                  0
scheme_management         3654
scheme_name              26162
permit                    2756
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

##### Scheme_management and management have pretty similar values, scheme_management has many null values, so we would drop it.

#### management_group and management

In [200]:
df.groupby(['management_group','management']).count()

                                      id  amount_tsh  date_recorded  funder  \
management_group management
commercial       company             670         670            670     650
                 private operator   1927        1927           1927    1913
                 trust                72          72             72      72
                 water authority     852         852            852     784
other            other               789         789            789     783
                 other - school       98          98             98      98
parastatal       parastatal         1557        1557           1557    1427
unknown          unknown             534         534            534     508
user-group       vwc               37716       37716          37716   35171
                 water board        2668        2668           2668    2478
                 wua                2330        2330           2330    2159
                 wug                5870        5870           5870    5842

                                   gps_height  installer  longitude  latitude  \
management_group management
commercial       company                  670        650        670       670
                 private operator        1927       1915       1927      1927
                 trust                     72         72         72        72
                 water authority          852        784        852       852
other            other                    789        777        789       789
                 other - school            98         98         98        98
parastatal       parastatal              1557       1429       1557      1557
unknown          unknown                  534        502        534       534
user-group       vwc                    37716      35170      37716     37716
                 water board             2668       2477       2668      2668
                 wua                     2330       2160       2330      2330
                 wug                     5870       5834       5870      5870

                                   wpt_name  num_private  basin  subvillage  \
management_group management
commercial       company                670          670    670         670
                 private operator      1927         1927   1927        1888
                 trust                   72           72     72          72
                 water authority        852          852    852         843
other            other                  789          789    789         784
                 other - school          98           98     98          98
parastatal       parastatal            1557         1557   1557        1557
unknown          unknown                534          534    534         534
user-group       vwc                  37716        37716  37716       37399
                 water board           2668         2668   2668        2668
                 wua                   2330         2330   2330        2330
                 wug                   5870         5870   5870        5870

                                   region  region_code  district_code    lga  \
management_group management
commercial       company              670          670            670    670
                 private operator    1927         1927           1927   1927
                 trust                 72           72             72     72
                 water authority      852          852            852    852
other            other                789          789            789    789
                 other - school        98           98             98     98
parastatal       parastatal          1557         1557           1557   1557
unknown          unknown              534          534            534    534
user-group       vwc                37716        37716          37716  37716
                 water board         2668         2668           2668   2668
                 wua                 2330         2330           2330   2330
                 wug                 5870         5870           5870   5870

                                    ward  population  public_meeting  \
management_group management
commercial       company             670         670             669
                 private operator   1927        1927            1616
                 trust                72          72              71
                 water authority     852         852             827
other            other               789         789             637
                 other - school       98          98              98
parastatal       parastatal         1557        1557            1329
unknown          unknown             534         534             292
user-group       vwc               37716       37716           36487
                 water board        2668        2668            2629
                 wua                2330        2330            2317
                 wug                5870        5870            4933

                                   recorded_by  scheme_management  \
management_group management
commercial       company                   670                669
                 private operator         1927               1810
                 trust                      72                 71
                 water authority           852                850
other            other                     789                618
                 other - school             98                 98
parastatal       parastatal               1557               1547
unknown          unknown                   534                 85
user-group       vwc                     37716              35447
                 water board              2668               2668
                 wua                      2330               2327
                 wug                      5870               5239

                                   scheme_name  permit  construction_year  \
management_group management
commercial       company                   644     645                670
                 private operator          974    1849               1927
                 trust                      22      71                 72
                 water authority           586     774                852
other            other                     247     697                789
                 other - school              0      98                 98
parastatal       parastatal                536    1401               1557
unknown          unknown                   231     494                534
user-group       vwc                     20400   35751              37716
                 water board              2371    2573               2668
                 wua                      1867    2271               2330
                 wug                      1043    5703               5870

                                   extraction_type  extraction_type_group  \
management_group management
commercial       company                       670                    670
                 private operator             1927                   1927
                 trust                          72                     72
                 water authority               852                    852
other            other                         789                    789
                 other - school                 98                     98
parastatal       parastatal                   1557                   1557
unknown          unknown                       534                    534
user-group       vwc                         37716                  37716
                 water board                  2668                   2668
                 wua                          2330                   2330
                 wug                          5870                   5870

                                   extraction_type_class  payment  \
management_group management
commercial       company                             670      670
                 private operator                   1927     1927
                 trust                                72       72
                 water authority                     852      852
other            other                               789      789
                 other - school                       98       98
parastatal       parastatal                         1557     1557
unknown          unknown                             534      534
user-group       vwc                               37716    37716
                 water board                        2668     2668
                 wua                                2330     2330
                 wug                                5870     5870

                                   payment_type  water_quality  quality_group  \
management_group management
commercial       company                    670            670            670
                 private operator          1927           1927           1927
                 trust                       72             72             72
                 water authority            852            852            852
other            other                      789            789            789
                 other - school              98             98             98
parastatal       parastatal                1557           1557           1557
unknown          unknown                    534            534            534
user-group       vwc                      37716          37716          37716
                 water board               2668           2668           2668
                 wua                       2330           2330           2330
                 wug                       5870           5870           5870

                                   quantity  quantity_group  source  \
management_group management
commercial       company                670             670     670
                 private operator      1927            1927    1927
                 trust                   72              72      72
                 water authority        852             852     852
other            other                  789             789     789
                 other - school          98              98      98
parastatal       parastatal            1557            1557    1557
unknown          unknown                534             534     534
user-group       vwc                  37716           37716   37716
                 water board           2668            2668    2668
                 wua                   2330            2330    2330
                 wug                   5870            5870    5870

                                   source_type  source_class  waterpoint_type  \
management_group management
commercial       company                   670           670              670
                 private operator         1927          1927             1927
                 trust                      72            72               72
                 water authority           852           852              852
other            other                     789           789              789
                 other - school             98            98               98
parastatal       parastatal               1557          1557             1557
unknown          unknown                   534           534              534
user-group       vwc                     37716         37716            37716
                 water board              2668          2668             2668
                 wua                      2330          2330             2330
                 wug                      5870          5870             5870

                                   waterpoint_type_group  status_group
management_group management
commercial       company                             670           670
                 private operator                   1927          1927
                 trust                                72            72
                 water authority                     852           852
other            other                               789           789
                 other - school                       98            98
parastatal       parastatal                         1557          1557
unknown          unknown                             534           534
user-group       vwc                               37716         37716
                 water board                        2668          2668
                 wua                                2330          2330
                 wug                                5870          5870

#### management is more detailed so we use that

In [201]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

#### payment and payment type

In [202]:
df['payment'].value_counts()

never pay                23441
pay per bucket            8576
unknown                   7725
pay monthly               7373
pay when scheme fails     3637
pay annually              3395
other                      936
Name: payment, dtype: int64

In [203]:
df['payment_type'].value_counts()

never pay     23441
per bucket     8576
unknown        7725
monthly        7373
on failure     3637
annually       3395
other           936
Name: payment_type, dtype: int64

#### these two columns are similar we can use any one of them

In [204]:
df['permit'].unique()

array([False, True, nan], dtype=object)

In [205]:
df['waterpoint_type'].value_counts()

communal standpipe             26262
hand pump                      16459
other                           6087
communal standpipe multiple     5455
improved spring                  699
cattle trough                    114
dam                                7
Name: waterpoint_type, dtype: int64

In [206]:
df['waterpoint_type_group'].value_counts()

communal standpipe    31717
hand pump             16459
other                  6087
improved spring         699
cattle trough           114
dam                       7
Name: waterpoint_type_group, dtype: int64

#### we keep waterpoint_type as it contains more details.

### source, source_type, source_class

In [207]:
df['source'].value_counts()

shallow well            15867
spring                  15745
machine dbh             10584
river                    8391
rainwater harvesting     1981
hand dtw                  857
lake                      753
dam                       632
other                     211
unknown                    62
Name: source, dtype: int64

In [208]:
df['source_type'].value_counts()

shallow well            15867
spring                  15745
borehole                11441
river/lake               9144
rainwater harvesting     1981
dam                       632
other                     273
Name: source_type, dtype: int64

In [209]:
df['source_class'].value_counts()

groundwater    43053
surface        11757
unknown          273
Name: source_class, dtype: int64

#### we will keep source as it has more details

### water_quality, quality_group

In [210]:
df['water_quality'].value_counts()

soft                  46914
salty                  4631
unknown                1841
milky                   790
coloured                436
salty abandoned         267
fluoride                187
fluoride abandoned       17
Name: water_quality, dtype: int64

In [211]:
df['quality_group'].value_counts()

good        46914
salty        4898
unknown      1841
milky         790
colored       436
fluoride      204
Name: quality_group, dtype: int64

#### we will keep water_quality as it is more detailed

### quantity and quantity_group

In [212]:
df['quantity'].value_counts()

enough          30786
insufficient    13679
dry              6209
seasonal         3634
unknown           775
Name: quantity, dtype: int64

In [213]:
df['quantity_group'].value_counts()

enough          30786
insufficient    13679
dry              6209
seasonal         3634
unknown           775
Name: quantity_group, dtype: int64

### we go with quantity as they are both similar

In [214]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [215]:
new_df = df.drop(columns = ['quantity_group','quality_group','source_type','source_class','waterpoint_type_group','payment_type',
                  'management_group','scheme_management','extraction_type_class','extraction_type_group'])

In [216]:
new_df

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_name,permit,construction_year,extraction_type,management,payment,water_quality,quantity,source,waterpoint_type,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,Roman,False,1999,gravity,vwc,pay annually,soft,enough,spring,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,NaN,True,2010,gravity,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,Nyumba ya mungu pipe scheme,True,2009,gravity,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,NaN,True,1986,submersible,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,True,0,gravity,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,functional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,Pangani,Kiduruni,Kilimanjaro,3,5,Hai,Masama Magharibi,125,True,GeoData Consultants Ltd,Losaa Kia water supply,True,1999,gravity,water board,pay per bucket,soft,enough,spring,communal standpipe,functional
59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,Rufiji,Igumbilo,Iringa,11,4,Njombe,Ikondo,56,True,GeoData Consultants Ltd,Ikondo electrical water sch,True,1996,gravity,vwc,pay annually,soft,enough,river,communal standpipe,functional
59397,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,Rufiji,Madungulu,Mbeya,12,7,Mbarali,Chimala,0,True,GeoData Consultants Ltd,NaN,False,0,swn 80,vwc,pay monthly,fluoride,enough,machine dbh,hand pump,functional
59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,Rufiji,Mwinyi,Dodoma,1,4,Chamwino,Mvumi Makulu,0,True,GeoData Consultants Ltd,NaN,True,0,nira/tanira,vwc,never pay,soft,insufficient,shallow well,hand pump,functional
59399,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,Wami / Ruvu,Kikatanyemba,Morogoro,5,2,Morogoro Rural,Ngerengere,150,True,GeoData Consultants Ltd,NaN,True,2002,nira/tanira,vwc,pay when scheme fails,salty,enough,shallow well,hand pump,functional

In [217]:
new_df.drop(columns = ['scheme_name'],inplace = True)

In [218]:
df['construction_year'].value_counts()

0       18920
2010     2555
2008     2486
2009     2395
2000     1955
2007     1471
2006     1336
2003     1215
2011     1178
2004     1053
2012     1033
2002     1017
1978      940
1995      939
1999      932
2005      922
1990      895
1998      879
1985      861
1996      763
1980      751
1984      713
1994      695
1982      690
1972      640
1974      637
1992      599
1997      577
1993      574
2001      503
1988      479
1983      467
1986      400
1975      396
1970      396
1976      362
1991      307
1989      302
1987      265
1981      227
1977      192
1979      180
1973      176
2013      175
1971      139
1960       96
1963       79
1968       73
1967       71
1969       56
1964       39
1962       29
1965       18
1961       18
1966       17
Name: construction_year, dtype: int64

In [219]:
df['date_recorded'].unique()

array(['2011-03-14', '2013-03-06', '2013-02-25', '2013-01-28',
       '2011-07-13', '2011-03-13', '2012-10-01', '2012-10-09',
       '2012-11-03', '2011-08-03', '2011-02-20', '2013-02-18',
       '2012-10-14', '2013-03-15', '2012-10-20', '2011-08-04',
       '2011-07-04', '2011-09-04', '2011-02-22', '2011-02-27',
       '2013-02-10', '2013-11-03', '2013-01-21', '2013-01-16',
       '2011-07-11', '2013-03-05', '2013-03-16', '2011-03-23',
       '2011-03-16', '2011-03-11', '2011-02-23', '2013-03-28',
       '2011-07-16', '2011-03-27', '2013-02-11', '2013-10-03',
       '2011-03-12', '2011-07-07', '2013-01-15', '2012-10-22',
       '2011-07-27', '2011-04-04', '2013-02-21', '2011-08-18',
       '2011-07-31', '2011-08-01', '2011-07-14', '2013-02-22',
       '2013-07-03', '2013-08-03', '2013-01-22', '2011-03-22',
       '2013-05-03', '2013-01-19', '2013-02-09', '2011-01-04',
       '2013-02-04', '2011-03-05', '2011-03-31', '2013-02-27',
       '2011-08-07', '2013-03-18', '2011-03-30', '2012-10-23',
       '2011-03-02', '2013-03-14', '2012-10-18', '2011-08-08',
       '2011-09-05', '2013-01-20', '2013-01-27', '2012-10-06',
       '2013-01-17', '2013-02-05', '2013-02-26', '2013-02-16',
       '2013-02-17', '2011-07-21', '2011-03-07', '2011-07-12',
       '2011-07-17', '2011-04-07', '2011-04-10', '2012-10-29',
       '2011-02-25', '2011-07-22', '2012-10-11', '2013-02-14',
       '2012-10-05', '2011-07-19', '2011-04-15', '2011-03-17',
       '2013-01-25', '2011-10-07', '2011-02-24', '2013-03-21',
       '2011-02-03', '2013-01-24', '2012-10-21', '2011-04-16',
       '2013-02-03', '2013-02-24', '2011-04-02', '2013-01-30',
       '2011-03-03', '2011-08-17', '2011-03-28', '2011-07-23',
       '2013-02-06', '2011-08-11', '2011-03-09', '2011-03-18',
       '2013-03-07', '2011-08-14', '2013-09-03', '2011-02-16',
       '2011-04-03', '2011-07-09', '2011-04-14', '2011-03-10',
       '2013-03-25', '2013-02-28', '2013-01-18', '2011-07-03',
       '2011-08-05', '2011-07-20', '2013-03-13', '2011-03-15',
       '2011-07-18', '2011-11-07', '2012-10-16', '2013-03-23',
       '2013-04-03', '2013-02-08', '2011-03-21', '2011-04-05',
       '2012-10-15', '2013-02-19', '2011-03-19', '2013-06-03',
       '2013-03-29', '2012-10-28', '2011-07-15', '2012-10-12',
       '2011-07-29', '2012-10-10', '2011-08-06', '2012-10-13',
       '2013-03-02', '2013-02-12', '2013-01-29', '2013-01-04',
       '2012-10-25', '2012-11-13', '2013-02-01', '2011-08-10',
       '2013-03-17', '2011-04-12', '2011-07-30', '2011-02-21',
       '2011-02-17', '2011-08-19', '2013-02-15', '2013-01-26',
       '2011-04-06', '2011-08-21', '2013-03-24', '2013-10-02',
       '2011-04-01', '2013-02-23', '2013-02-20', '2011-03-25',
       '2013-03-01', '2013-05-04', '2012-11-05', '2011-03-04',
       '2011-03-20', '2013-03-04', '2011-04-08', '2012-10-26',
       '2013-06-04', '2011-08-20', '2013-02-07', '2013-03-19',
       '2011-07-24', '2011-07-25', '2013-03-22', '2013-08-02',
       '2011-07-28', '2013-03-12', '2013-03-30', '2013-02-13',
       '2013-12-03', '2011-03-26', '2011-03-08', '2013-01-23',
       '2012-11-04', '2012-10-02', '2013-04-04', '2012-10-07',
       '2011-03-24', '2011-04-18', '2012-11-15', '2011-08-12',
       '2011-08-23', '2012-10-08', '2011-02-26', '2011-03-01',
       '2011-04-11', '2011-03-29', '2012-12-14', '2011-02-14',
       '2013-01-14', '2012-10-04', '2011-07-26', '2011-08-02',
       '2012-10-19', '2012-10-27', '2012-10-17', '2013-09-02',
       '2012-10-03', '2013-03-20', '2012-11-08', '2011-02-15',
       '2012-10-24', '2013-03-10', '2011-07-06', '2011-07-08',
       '2012-12-13', '2011-08-25', '2004-08-01', '2013-03-03',
       '2011-04-09', '2012-10-31', '2011-03-06', '2013-07-02',
       '2012-11-12', '2011-02-28', '2011-02-02', '2013-02-02',
       '2013-03-26', '2013-01-31', '2011-07-10', '2011-04-17',
       '2011-07-05', '2011-06-04', '2011-08-22', '2011-01-03',
       '2013-01-13', '2012-11-09', '2013-01-11', '2011-01-08',
       '2013-07-04', '2011-02-18', '2011-08-13', '2012-11-06',
       '2011-06-03', '2013-01-12', '2013-03-08', '2004-12-01',
       '2012-12-16', '2011-04-13', '2012-11-01', '2013-03-27',
       '2011-12-03', '2013-01-08', '2011-10-04', '2012-12-15',
       '2012-10-30', '2011-08-16', '2013-01-07', '2013-01-03',
       '2011-04-19', '2013-05-02', '2011-08-15', '2011-02-19',
       '2011-11-03', '2011-04-21', '2012-11-10', '2011-12-07',
       '2011-10-03', '2011-08-26', '2011-04-22', '2011-08-09',
       '2011-06-07', '2002-10-14', '2011-02-04', '2013-01-09',
       '2012-12-12', '2012-11-14', '2012-12-11', '2013-03-09',
       '2011-04-20', '2012-12-18', '2011-08-27', '2013-12-02',
       '2013-11-02', '2011-09-27', '2011-08-24', '2011-09-03',
       '2012-11-29', '2011-09-19', '2012-12-21', '2012-11-02',
       '2013-03-11', '2012-11-19', '2011-05-03', '2012-12-10',
       '2012-11-11', '2011-11-04', '2013-01-10', '2004-05-01',
       '2004-04-05', '2012-12-17', '2012-11-07', '2012-11-30',
       '2004-06-01', '2011-05-07', '2012-12-23', '2011-09-09',
       '2012-12-24', '2011-05-04', '2011-04-23', '2013-04-02',
       '2011-02-01', '2011-09-18', '2011-09-06', '2011-09-20',
       '2004-03-01', '2011-09-17', '2013-01-01', '2004-01-07',
       '2004-07-01', '2011-09-11', '2011-08-31', '2011-09-21',
       '2011-08-30', '2011-08-28', '2011-09-01', '2011-09-28',
       '2011-09-16', '2011-09-13', '2011-09-08', '2011-09-23',
       '2013-01-06', '2011-09-14', '2004-03-06', '2012-01-21',
       '2012-01-25', '2011-09-15', '2011-09-25', '2004-09-01',
       '2004-04-01', '2011-09-26', '2011-09-12', '2013-12-01'],
      dtype=object)

date recorded seems to have no much significance in prediction, rather constructio_year, is an important fature, to analyze the reasoning behind the waterppoints are functional and non functional.

In [220]:
new_df.drop(columns = ['date_recorded'],inplace = True)

In [221]:
new_df['num_private'].value_counts()

0      54374
6         75
1         67
5         46
32        40
       ...
213        1
23         1
87         1
280        1
94         1
Name: num_private, Length: 62, dtype: int64

In [222]:
new_df.drop(columns = ['num_private'],inplace = True)
## has no description,a lso there are too many 0,s and 1

In [226]:
new_df.isnull().sum()

id                      0
amount_tsh              0
funder               3198
gps_height              0
installer            3215
longitude               0
latitude                0
wpt_name                0
basin                   0
subvillage            370
region                  0
region_code             0
district_code           0
lga                     0
ward                    0
population              0
public_meeting       3178
recorded_by             0
permit               2756
construction_year       0
extraction_type         0
management              0
payment                 0
water_quality           0
quantity                0
source                  0
waterpoint_type         0
status_group            0
dtype: int64

In [227]:
new_df = new_df.dropna()

In [228]:
new_df.isnull().sum()

id                   0
amount_tsh           0
funder               0
gps_height           0
installer            0
longitude            0
latitude             0
wpt_name             0
basin                0
subvillage           0
region               0
region_code          0
district_code        0
lga                  0
ward                 0
population           0
public_meeting       0
recorded_by          0
permit               0
construction_year    0
extraction_type      0
management           0
payment              0
water_quality        0
quantity             0
source               0
waterpoint_type      0
status_group         0
dtype: int64

### funder

In [229]:
new_df['funder'].value_counts()

Government Of Tanzania    7889
Danida                    2778
Hesawa                    1609
Kkkt                      1213
Rwssp                     1148
                          ...
Bukwang Church Saint         1
Nordic                       1
Ahmadia                      1
Pwagu                        1
Batist Church                1
Name: funder, Length: 1673, dtype: int64

funder indicates, who founded the well, but as we see there are many different categoricals, which in a sense would not be useful for our model, as it may increase the model complexity. But, we can keep thos feature for eda

### gps height - Altitude of the well

In [230]:
new_df['gps_height'].describe()

count    47999.000000
mean       680.699077
std        697.364812
min        -90.000000
25%          0.000000
50%        382.000000
75%       1321.000000
max       2628.000000
Name: gps_height, dtype: float64

gps is the altitude of the well, it can we an important feature. Also, there are some values that are 0 and less then 0, which in a way indicates, the well might have some altitude below the ground level as well.

### installer

In [231]:
new_df['installer'].value_counts()

DWE                               15022
Government                         1214
RWE                                1050
Commu                               861
KKKT                                830
                                  ...
JUINE CO                              1
Building works engineering Ltd        1
UPM                                   1
MUSLIMEHEFEN INTERNATIONAL            1
Deogra                                1
Name: installer, Length: 1859, dtype: int64

### longitude

In [232]:
new_df['longitude'].describe()

count    47999.000000
mean        34.447482
std          5.846456
min          0.000000
25%         33.071342
50%         35.304170
75%         37.339288
max         40.345193
Name: longitude, dtype: float64

### latitude

In [255]:
new_df['latitude'].describe()

count    4.799900e+04
mean    -5.754566e+00
std      2.881718e+00
min     -1.158630e+01
25%     -8.422624e+00
50%     -5.094169e+00
75%     -3.338185e+00
max     -2.000000e-08
Name: latitude, dtype: float64

### WPT name

In [299]:
new_df['wpt_name'].value_counts()

unknown                  3428
Shuleni                  1373
Zahanati                  588
Msikitini                 442
Kanisani                  251
                         ...
Matayo                      1
Kwa Tedory                  1
Abdalamani Mussa            1
Miswe Zahanati              1
Kadoto Primary School       1
Name: wpt_name, Length: 30941, dtype: int64

#### replacing none by unknown

In [300]:
new_df['wpt_name'].replace(to_replace = 'none', value = 'unknown', inplace = True)

/Users/karankurdia/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

### BASIN

In [262]:
new_df['basin'].value_counts()

Pangani                    8185
Lake Victoria              7535
Rufiji                     6881
Internal                   5821
Lake Tanganyika            5399
Wami / Ruvu                4865
Ruvuma / Southern Coast    3838
Lake Nyasa                 3330
Lake Rukwa                 2145
Name: basin, dtype: int64

#### the basin has values that can be easily categorize the water points

### Region, subvillage, lga, ward

In [266]:
new_df['subvillage'].value_counts()

Majengo        430
Shuleni        426
Madukani       376
Kati           311
Mtakuja        222
              ...
Muhangazi A      1
Rupya            1
Gingiliani       1
Chandago         1
Nyugwa           1
Name: subvillage, Length: 16568, dtype: int64

In [267]:
new_df['region'].value_counts()

Iringa           5156
Kilimanjaro      3907
Shinyanga        3712
Morogoro         3663
Kagera           2912
Arusha           2750
Mwanza           2610
Mbeya            2489
Pwani            2471
Tanga            2471
Kigoma           2179
Ruvuma           1996
Tabora           1841
Dodoma           1625
Rukwa            1623
Mtwara           1572
Manyara          1441
Lindi            1282
Singida          1038
Mara              920
Dar es Salaam     341
Name: region, dtype: int64

In [268]:
new_df['lga'].value_counts()

Njombe           2403
Arusha Rural     1151
Moshi Rural      1109
Kilosa            991
Bagamoyo          989
                 ...
Ilala              36
Ileje              25
Lindi Urban        21
Singida Rural      17
Nyamagana           1
Name: lga, Length: 118, dtype: int64

In [273]:
new_df['ward'].value_counts()

Igosi        307
Imalinyi     247
Siha Kati    230
Mdandu       218
Nduruma      199
            ...
Murray         1
Kemambo        1
Lihimalyo      1
Igogo          1
Liwale A       1
Name: ward, Length: 1932, dtype: int64

 ### Region_code and District_code

In [274]:
new_df['region_code'].value_counts()

11    5159
3     3907
5     3696
17    3693
18    2920
19    2608
12    2489
4     2438
2     2430
16    2179
10    1996
14    1859
1     1625
15    1623
6     1566
21    1441
13    1038
80     990
20     920
60     904
90     795
99     409
9      368
7      341
24     320
8      284
40       1
Name: region_code, dtype: int64

In [276]:
new_df['district_code'].value_counts()

1     10263
2      8247
3      7745
4      7435
5      3797
6      3564
7      2351
8       975
30      902
33      754
53      692
43      427
13      288
23      264
63      156
62      109
0        21
80        9
Name: district_code, dtype: int64

### Population

In [278]:
new_df.columns

Index(['id', 'amount_tsh', 'funder', 'gps_height', 'installer', 'longitude',
       'latitude', 'wpt_name', 'basin', 'subvillage', 'region', 'region_code',
       'district_code', 'lga', 'ward', 'population', 'public_meeting',
       'recorded_by', 'permit', 'construction_year', 'extraction_type',
       'management', 'payment', 'water_quality', 'quantity', 'source',
       'waterpoint_type', 'status_group'],
      dtype='object')

In [279]:
new_df['population'].describe()

count    47999.000000
mean       183.025563
std        477.982742
min          0.000000
25%          0.000000
50%         31.000000
75%        215.000000
max      30500.000000
Name: population, dtype: float64

#### population is 0 for some waterpoints, which is possible, we dont have evidence to prove, why the population around the water body cant be zero

### recorded_by

In [305]:
new_df['recorded_by'].value_counts()

GeoData Consultants Ltd    47999
Name: recorded_by, dtype: int64

### only one value, has no much significance towards the prediction - drop

### permit

In [306]:
new_df['permit'].value_counts()

True     33867
False    14132
Name: permit, dtype: int64

In [307]:
new_df

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,permit,construction_year,extraction_type,management,payment,water_quality,quantity,source,waterpoint_type,status_group
0,69572,6000.0,Roman,1390,Roman,34.938093,-9.856322,unknown,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,False,1999,gravity,vwc,pay annually,soft,enough,spring,communal standpipe,functional
2,34310,25.0,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,True,2009,gravity,vwc,pay per bucket,soft,enough,dam,communal standpipe multiple,functional
3,67743,0.0,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,True,1986,submersible,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,non functional
4,19728,0.0,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,True,0,gravity,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,functional
5,9944,20.0,Mkinga Distric Coun,0,DWE,39.172796,-4.765587,Tajiri,Pangani,Moa/Mwereme,Tanga,4,8,Mkinga,Moa,1,True,GeoData Consultants Ltd,True,2009,submersible,vwc,pay per bucket,salty,enough,other,communal standpipe multiple,functional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59394,11164,500.0,World Bank,351,ML appro,37.634053,-6.124830,Chimeredya,Wami / Ruvu,Komstari,Morogoro,5,6,Mvomero,Diongoya,89,True,GeoData Consultants Ltd,True,2007,submersible,vwc,pay monthly,soft,enough,machine dbh,communal standpipe,non functional
59395,60739,10.0,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,Pangani,Kiduruni,Kilimanjaro,3,5,Hai,Masama Magharibi,125,True,GeoData Consultants Ltd,True,1999,gravity,water board,pay per bucket,soft,enough,spring,communal standpipe,functional
59396,27263,4700.0,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,Rufiji,Igumbilo,Iringa,11,4,Njombe,Ikondo,56,True,GeoData Consultants Ltd,True,1996,gravity,vwc,pay annually,soft,enough,river,communal standpipe,functional
59398,31282,0.0,Malec,0,Musa,35.861315,-6.378573,Mshoro,Rufiji,Mwinyi,Dodoma,1,4,Chamwino,Mvumi Makulu,0,True,GeoData Consultants Ltd,True,0,nira/tanira,vwc,never pay,soft,insufficient,shallow well,hand pump,functional
59399,26348,0.0,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,Wami / Ruvu,Kikatanyemba,Morogoro,5,2,Morogoro Rural,Ngerengere,150,True,GeoData Consultants Ltd,True,2002,nira/tanira,vwc,pay when scheme fails,salty,enough,shallow well,hand pump,functional

In [308]:
new_df.reset_index(inplace=True)

In [310]:
new_df.shape

(47999, 29)

In [311]:
#new_df.to_csv('main.csv', index = False)